@{
    ViewBag.Title = "Swarvandana | About";
    Layout = "~/Views/Shared/__Layout.cshtml";
}
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    About us
                </h1>
            </div>

        </div>
    </div>
</div>
<!--breadcrumbs end-->
<!--container start-->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="about-carousel wow fadeInLeft">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="img/service3.jpg" alt="">
                            <div class="carousel-caption">
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/service2.jpg" alt="">
                            <div class="carousel-caption">
                                <p>
                                    Blanditiis praesentium voluptatum
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/service5.jpg" alt="">
                            <div class="carousel-caption">
                                <p>
                                    Blanditiis praesentium voluptatum
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left">
                        </i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right">
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 about wow fadeInRight">

            <p>
                Svar-Vandanais a Musical journey which began in 2013 in which our endeavour is to showcase the rich heritage of Indian Music and Dance and where interested students from an early age can pick up, appreciate and gain expertise in various Music & Dance disciplines. The Music Academy has been established in 2013 to spread the awareness of Indian Classical and Semi-Classical Music - vocal of different styles as well as Instrumental of various traditional Indian instruments along with traditional Indian forms of dances. Apart from overall development, this interaction can give them platform to hone and show-case their talents and if they excel in a field of their interest, they can pursue this as a career. 
            </p>
           
         
        </div>
    </div>
    
</div>


<div class="container" id="tourpackages-carousel">

    <div class="row">
        <div class="profile">
            <h2>
                        MANAGEMENT TEAM
            </h2>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail wow fadeInUp" data-wow-delay=".1s">
                    <img src="@Url.Content("~/content/images/page1_img1.jpg")" alt="">
                    <div class="caption">
                        <h4>
                            Dr.Bipul Kumar Ray
                        </h4>
                        <p>
                             is one of the finest santoor exponents of the country. Under the tutelage of Santoor maestro Pandit Bhajan Sopori, an outstanding exponent of "Sufiyana Gharana” of Kashmir, He has a Master and M. Phil degree in Classical vocal music and Doctorate (PhD) on Santoor from the University of Delhi.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail wow fadeInUp" data-wow-delay=".3s">
                    <img src="@Url.Content("~/content/images/page1_img3.jpg")" alt="">
                    <div class="caption">
                        <h4>
                            Sanjay Sarda
                        </h4>
                        <p>
                             B.Tech from B.I.T and Post Graduate from IIM Kolkata. Worked in several leading Corporates of India in various assignments in senior positions. After doing the corporate grind for 32 years, decided to follow a ‘dil-se’ call to set forth on a path less trodden and took sabbatical from the corporate world in Aug 2013 to open a Music Academy in Noida. He plans to open 5 such state-of-the-art Academies by 2020.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail wow fadeInUp" data-wow-delay=".5s">
                    <img src="@Url.Content("~/content/images/page1_img2.jpg")" alt="">
                    <div class="caption">
                        <h4>
                            Meenakshi Sarda
                        </h4>
                        <p>
                             M.A in Psychology and Gold Medallist from Kurukshetra University is a trained Vocalist who has done various counselling and mentoring assignments with children. She is a trained trainer for SEN children. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail wow fadeInUp" data-wow-delay=".7s">
                    <img src="@Url.Content("~/content/images/pic.jpg")" alt="">
                    <div class="caption">
                        <h4>
                            Abhi Kapoor
                        </h4>
                        <p>
                             He is responsible for the day to day running of all the Centres and is the General Manager leading a team of Business Development, Admin and faculty members. He is also a talented Drummer and Guitarist. He has conducted many events of the Music Academy in Malls, Schools and Talent shows apart from participation in theatre. 
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</div>
<!--container end-->
