@{
    ViewBag.Title = "Affiliations";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Affiliations</div>

    <ul class="link">
        <li>
            We are affiliated with major UGC accredited Music Societies of India (Prayag Sangeet Samiti-Allahabad, Prachin Kala Kendra -Chandigarh) for Hindustani Vocal, Tabla and Kathak.
        </li>
        <li>
            We are also affiliated with Trinity College- London, whose certifications are world renowned, for Guitar, Keyboard, Piano and Drums.
        </li>
    </ul>

</div>
