@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}
<head>
    <style type="text/css">
        a:link {
            color: #000;
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
            color: #000;
        }

        a:hover {
            text-decoration: underline;
            color: #6f4207;
        }

        a:active {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<div class="container_layout">
    <table width="100%" border="0">
        <tr>
            <td align="left" valign="top" width="50%">

                <table width="100%" border="0">
                    <tr>
                        <td align="left" valign="top" style="font-size:17px; line-height:25px; font-family:Arial, Helvetica, sans-serif;">
                            <div class="heding2" style="margin:0px; padding:20px 0 5px 0px;">Gurgoan</div>
                            SCO - 70, Sector - 40, Huda Market, Gurgaon,<br> Haryana - 122002<br>
                            Contact: 0124- 4371653 / +91- 9643250627<br>
                            Email: <a href="mailto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com </a>
                        </td>
                    </tr>

                    <tr><td><div style="border-top:solid 1px #d5bf83; height:20px; margin:20px 0 0 0px; width:100%;	"></div></td></tr>


                    <tr>
                        <td align="left" valign="top" style="font-size:17px; line-height:25px; font-family:Arial, Helvetica, sans-serif;">
                            <div class="heding2" style="margin:0px; padding:20px 0 5px 0px;">Noida</div>

                            A - 181, Sector - 48, Noida-201301<br>
                            Contact: +0120-42137250 / +91- 9910494141 <br />
                            Email: <a href="mailto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a><br><br>

                            PK-5, Near Amrapali Apartments, Sector - 122, Noida-201301<br>
                            Contact: +91- 9899219816 <br />
                            Email: <a href="malto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a><br><br>


                            Plot no 1, Institutional Area, Sector-62, Noida-201301 <br>
                            Contact: +91- 9711276501 <br />
                            Email: <a href="malto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td align="left" valign="top" width="40%">
                <table width="80%" border="0">
                    <tr>
                        <td>
                            <div class="heding2" style="text-align:left;">Send us a message</div>

                            <input type="text" name="text" id="txt_name" placeholder="Name" maxlength="40" class="field"><br>
                            <input type="text" name="text" id="txt_email" placeholder="Email" maxlength="70" class="field"><br>
                            <input type="text" name="text" id="txt_contact" placeholder="Contact Number" maxlength="18" class="field"><br>
                            <input type="text" name="text" id="txt_address" placeholder="Address" class="field"><br>
                            <textarea class="textarea" id="txt_message" placeholder="Message" maxlength="500"></textarea>
                            <div style="text-align:center; margin:12px 0 0 0px;"><a href="javascript:void(0)" onclick="sendmail()"><img src="@Url.Content("~/Content/images/submit.jpg")"></a></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function sendmail() {
    var sendmail = true;
    var name = $("#txt_name").val();
    var emailaddress = $("#txt_email").val();
    var contact = $("#txt_contact").val();
    var address = $("#txt_address").val();
    var message = $("#txt_message").val();

    if (name == "") {
        alert("Please enter name");
        sendmail = false;
        $("#txt_name").focus();
        return false;
    }
    if (emailaddress == "") {
        alert("Please enter Email");
        sendmail = false;
        $("#txt_email").focus();
        return false;
    }
    if (!validEmail(emailaddress)) {
        alert("Invalid Email");
        sendmail = false;
        $("#txt_email").focus();
        return false;
    }
    if (contact == "") {
        alert("Please enter contact");
        sendmail = false;
        $("#txt_contact").focus();
        return false;
    }
    if (!isvalidcontact(contact)) {
        alert("Invalid contact number");
        sendmail = false;
        $("#txt_contact").focus();
        return false;
    }
    if (address == "") {
        alert("Please enter address");
        sendmail = false;
        $("#txt_address").focus();
        return false;
    }
    if (message == "") {
        alert("Please enter message");
        sendmail = false;
        $("#txt_message").focus();
        return false;
    }

    if (sendmail == true) {
            $.get("@Url.Action("SendMal","Home")", { name: $("#txt_name").val(), emailaddress: $("#txt_email").val(), contact: $("#txt_contact").val(), address: $("#txt_address").val(), message: $("#txt_message").val() }, function (data) {
                alert("Thanks for your enquery.\n Our executive will contact you soon.");
                $("#txt_name").val("");
                $("#txt_email").val("");
                $("#txt_contact").val("");
                $("#txt_address").val("");
                $("#txt_message").val("");

            });
        }
    }
    function validEmail(e) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(e);
    }


    function Validate(inputtxt) {
      
    }

    function isvalidcontact(inputtxt) {
        var x = inputtxt;
        if (isNaN(x) || x.indexOf(" ") != -1) {            
            return false;
        }
        else
            return true;
    }

</script>