@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}
<head>
    <style type="text/css">
        a:link {
            color: #000;
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
            color: #000;
        }

        a:hover {
            text-decoration: underline;
            color: #6f4207;
        }

        a:active {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<div class="container_layout">
    <table width="100%" border="0">
        <tr>
            <td align="left" valign="top" width="50%">

                <table width="100%" border="0">
                    <tr>
                        <td align="left" valign="top" style="font-size:17px; line-height:25px; font-family:Arial, Helvetica, sans-serif;">
                            <div class="heding2" style="margin:0px; padding:20px 0 5px 0px;">Gurgoan</div>
                            SCO - 70, Sector - 40, Huda Market, Gurgaon,<br> Haryana - 122002<br>
                            Contact: 0124- 4371653 / +91- 9643250627<br>
                            Email: <a href="mailto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com </a>
                        </td>
                    </tr>

                    <tr><td><div style="border-top:solid 1px #d5bf83; height:20px; margin:20px 0 0 0px; width:100%;	"></div></td></tr>


                    <tr>
                        <td align="left" valign="top" style="font-size:17px; line-height:25px; font-family:Arial, Helvetica, sans-serif;">
                            <div class="heding2" style="margin:0px; padding:20px 0 5px 0px;">Noida</div>

                            A - 181, Sector - 48, Noida-201301<br>
                            Contact: +0120-42137250 / +91- 9910494141 <br />
                            Email: <a href="mailto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a><br><br>

                            PK-5, Near Amrapali Apartments, Sector - 122, Noida-201301<br>
                            Contact: +91- 9899219816 <br />
                            Email: <a href="malto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a><br><br>


                            Plot no 1, Institutional Area, Sector-62, Noida-201301 <br>
                            Contact: +91- 9711276501 <br />
                            Email: <a href="malto:info@swarvandana.com">info@swarvandana.com</a><br>
                            Web: <a href="#">swarvandana.com</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>&nbsp;</td>
            <td align="left" valign="top" width="40%">
                <table width="80%" border="0">
                    <tr>
                        <td>
                            <div class="heding2" style="text-align:left;">Send us a message</div>

                            <input type="text" name="text" placeholder="Name"  maxlength="40" class="field"><br>
                            <input type="text" name="text" placeholder="Email" maxlength="70" class="field"><br>
                            <input type="text" name="text" placeholder="Contact Number" maxlength="18" class="field"><br>
                            <input type="text" name="text" placeholder="Address" class="field"><br>                            
                            <textarea class="textarea" placeholder="Message" maxlength="500" ></textarea>
                            <div style="text-align:center; margin:12px 0 0 0px;"><a href="#"><img src="@Url.Content("~/Content/images/submit.jpg")"></a></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script>

    function validEmail(e) {
        var filter = "/^\s*[\w\-\+_]+(\.[\w\-\+_]+)*\@@[\w\-\+_]+\.[\w\-\+_]+(\.[\w\-\+_]+)*\s*$/";
        return String(e).search(filter) != -1;
    }

    function phonenumber(inputtxt)  
    {  
        var phoneno = /^\d{10}$/;  
        if((inputtxt.value.match(phoneno))  
        {  
            return true;  
        }  
        else  
        {  
            alert("message");  
            return false;  
        }  
    }  

</script>