@{
    ViewBag.Title = "corporate";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Svar Vandana offers interested Corporates  for Annual Tie-Ups for</div>

    <div class="heding2">EMPLOYEE ENGAGEMENT & EMPLOYEE RETENTION</div>
    <ul class="link">
        <li>
            The Corporates can take a Fixed no of Annual Courses from us for giving to their employees and families at our Centres.
        </li>
        <li>
            Or Corporates can provide us the required space to do the classes at their premises.
        </li>
        <li>
            Or Coporates can have an arrangement by which we do weekly program/workshop at their premises
        </li>
    </ul>

    <div class="heding2">CORPORATE TIE-UP CONCEPT</div>
    <ul class="link">
        <li>
            People working in an organization are its biggest asset and the HR team needs to find new and innovative ways for employee retention and  employee engagement - by which overall positivity is created and the happiness quotient of each employee increases. This leads to better performance in this fiercely competitive environment.
        </li>
        <li>
            Apart from the stress of working in the organization, our demanding working lives and the fast paced life styles in metros make all of us  vulnerable to several stress related complications.
        </li>
        <li>
            Music & Dance is one such activity which gives a sense of achievement and creativity and which helps in reducing stress and restoring the sense of positivity. A happier, overall more positive person gives better results at work.
        </li>
    </ul>

    <div class="heding2">THE SVAR VANDANA PROPOSAL</div>
    <ul class="link">
        <li>
            We seek to reach out to Corporates who have Employee Retention and Employee Engagement concerns and who are looking for new innovative ways to achieve this and stand out from competition.
        </li>
        <li>
            This is provided by Svar Vandana in entering into Agreements with Corporates by which a fixed number of employees are given One year courses in their selected discipline.
        </li>
        <li>
            Classes can be provided at any of our 4 Centres on weekends or after office hours in Guitar, Drums, Piano, Keyboard, Santoor, Vocal, Violin, Kathak, all types of Western and Bollywood Dance.
        </li>
        <li>
            Or the Classes can be taken in the premises of the Corporate also.
        </li>
    </ul>

    <div class="heding2">ADVANTAGES TO CORPORATES</div>
    <ul class="link">
        <li>
            The opportunity provided by the organization enhances the employees experience with the company and bonds him ensuring retention.
        </li>
        <li>
            The sponsorship also provides branding, jamming facility in addition to regular workshops and events.
        </li>
        <li>
            It can be used as a Stress Busting Module over weekends.
        </li>
        <li>
            Music & Dance can also be used as a Team Building and Motivational Tool.
        </li>
        <li>
            The positivity & Happiness Quotient of the employee is surely enhanced and the employee is more focused and productive.
        </li>
    </ul>
</div>
