@{
    ViewBag.Title = "Swarvandna | Courses";
    Layout = "~/Views/Shared/__Layout.cshtml";
}


<div class="container_layout">
    <div class="heding2">Courses </div>
    <ul class="link">
        <li>Svar-Vandana offers Hobby Classes as well as Diploma, Bachelor and Master Degree Level programmes in the following subjects:</li>
    </ul>

    <div style="width:100%; float:left;">&nbsp;</div>

    <div class="heding2">Instrumental</div>
    <ul class="link2">
        <li>
            String Instruments: Santoor , Sitar, Guitar, Violin
        </li>
        <li>
            Wind Instruments: Flute, Harmonium
        </li> Western Instruments: Piano, Keyboard, Organ, Guitar* (Bass, Spanish, Electric)
        <li>
            Percussion Instruments:  Tabla,Pakhawaj , Dholak, Congo, Bongo, Jazz Drum
        </li>

    </ul>

    <div style="width:100%; float:left;">&nbsp;</div>

    <div class="heding2">Dance</div>
    <ul class="link2">
        <li>
            Indian Classical Dance – Kathak. Bharatnatyam, Oddisi
        </li>
        <li>
            Folk Dance – Bhangra ,Dandiya  and all other Indian Folk dances.
        </li>
        </li>
        <li>
            Bolywood– Contemporary and all others.
        <li>
            Western Dance Forms: Zumba, Aerobics, Salsa, Jazz, Hip-hop, Cha-Cha-Cha, Belle, Ballroom, Rock n Roll, Rap &Freestyle Dance
        </li>
    </ul>
</div>