@{
    ViewBag.Title = "Swarvandna | Events";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>Events</h1>
            </div>
            
        </div>
    </div>
</div>
<!--breadcrumbs end-->


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <ul id="filters" class="clearfix">                
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row  mar-b-30">
        <div id="portfoliolist">
            <div class="col-md-12">
                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />

                        </div>
                    </div>
                </div>

                <div class="portfolio app" data-cat="app">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/app/3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/app/3.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio web" data-cat="web">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/web/2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/web/2.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio card" data-cat="card">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/card/1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/card/1.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio app" data-cat="app">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/app/3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/app/3.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio card" data-cat="card">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/card/1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/card/1.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio card" data-cat="card">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/card/4.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/card/4.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio app" data-cat="app">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/app/1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/app/1.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio card" data-cat="card">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/card/2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/card/2.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio icon" data-cat="icon">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/icon/3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/icon/3.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio web" data-cat="web">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/web/1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/web/1.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio icon" data-cat="icon">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/icon/1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/icon/1.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio web" data-cat="web">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/web/2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/web/2.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio icon" data-cat="icon">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/icon/3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/icon/3.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio icon" data-cat="icon">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/icon/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/icon/5.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio web" data-cat="web">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/web/4.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/web/4.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/2.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/3.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio icon" data-cat="icon">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio card" data-cat="card">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/card/4.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/card/4.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="portfolio logo" data-cat="logo">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-hover">
                            <div class="image-caption">
                                <a href="img/portfolios/logo/5.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="left" title="Zoom"><i class="fa fa-eye"></i></a>
                                <a href="blog-detail.html" class="label label-info icon" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-link"></i></a>
                                <a href="#" class="label label-info icon" data-toggle="tooltip" data-placement="right" title="Likes"><i class="fa fa-heart"></i></a>

                            </div>
                            <img src="img/portfolios/logo/5.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>