@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Pankaj Kumar Rawat</div>

    <ul class="link">
        <li>An accomplished kathak performer in delhi. He holds a visharad, a 6 years degree from bhatkhande sangeet maha vidhyalaya lucknow,a diploma course of 2 years and a post diploma from shri ram bhartiya kala kendra new delhi under the eligiable pandit munna lal shukla from lucknow gharana.at present he is a national scholarship holder from the ministry of culture govt of india and is presently persuing course under it. Trained by the expert and profficient gurus of eminent gharanas pankaj has created a style of his own which is reflected in a beautiful blend that melds the delicacy of lucknow gharana.</li>

    </ul>

    <div style="width:100%; float:left;">&nbsp;</div>

    <div class="heding2">Mikal</div>
    <ul class="link2">
        <li>
            You will find him as an eye pleasing dancer and a great choreographer. Our very own master mikal got his training from different dancers and groups from around the world. Specializing in dance like hip hop, freestyle bollywood, folkdance, contemporary, lyrical, popping locking, break dance, jazz, robotic, salsa etc. 
    </ul>


    <div style="width:100%; float:left;">&nbsp;</div>

    <div class="heding2">Ankit</div>
    <ul class="link2">
        <li>
            Mr. Ankit Upadhyay apart from teaching guitar since last 3yrs has performed at various colleges of Delhi University and IP University collaborating with many bands. He is a student of Mr. Sonam Sherpa, a well known guitarist of the Delhi based band Parikrama. He is holding a 4 yr certificate from Rock School London and has also worked as a recording artist at HG STUDIO located in Delhi.
        </li>
    </ul>

    <div class="heding2">Suraj singh</div>
    <ul class="link2">
        <li>
            Mr. Suraj singh is a Keyboard teacher will a experience of around 5 years in keyboard he has completed his grades from Trinity college of London. 
        </li>
    </ul>
    <div class="heding2">Tanya</div>
    <ul class="link2">
        <li>
            Tanya Started her carrier with classical vocal from prayag sangeet samiti, Allahabad in 1/1/0100 till 1/11/1011 after completing her Prabhakar .She started learning Dhrupad under Guru Gundeeha Brothers.She is presently doing Diploma honours under them from past three years .
        </li>
    </ul>

    <div class="heding2">Rohit </div>
    <ul class="link2">
        <li>
            Mr. Rohit is a Drum teacher will a experience of around 5 years.
        </li>
    </ul>


</div>
