@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Requirements from a Franchisee</div>
    <div class="heding2">CONCEPTUALLY</div>
    <ul class="link">
        <li>
            A conviction that this is a worthwhile utilization of one’s resources if we can touch lives,spread happiness and make a positive impact.
        </li>
        <li>
            A general liking for Music & Dance as a medium not only to connect with people but also with one’s own inner self and with God.
        <li>
            A commitment to the Svar Vandana Model.
        </li>
    </ul>

    <div class="heding2">PHYSICALLY</div>
    <ul class="link">
        <li>
            To be able to devote at least 4 hours of physical presence for the Academy.
        </li>
        <li>
            Having a good network of relatives, friends, acquaintances that can be tapped.
        </li>
        <li>
            It will be a great advantage if 2500 to 3500 sq.ft of carpet area is available with the
            Franchisee – directly or indirectly – so that the expenses of the Rent can be saved.
        </li>
        <li>
            To be able to chose a GOOD LOCATION. Either a tie-up with a running School or in the close vicinity of High Rise Societies or in a Market with good footfalls.
        </li>
    </ul>

    <div class="heding2">FINANCIALLY</div>
    <ul class="link">
        <li>
            To be able to make an initial investment of 23 lacs.
        </li>
        <li>
            Franchisee Fee – Rs. 5 lacs(To be paid annually).
        </li>
        <li>
            Centre set-up cost – Rs. 15 lacs.
        </li>
        <li>
            Working Capital – Rs. 5 lacs.
        <li>
    </ul>

    <div class="heding2">FRANCHISEE DELIVERABLES</div>
    <ul class="link">
        <li>
            Being able to spend at least 4 hours per day in the Centre.
        </li>
        <li>
            FIND THE BEST POSSIBLE LOCATION FOR THE CENTRE.
        </li>
        <li>
            Rent is going to be a major expense – it is ideal if this can be saved.
        </li>
        <li>
            Tapping all persons in his/her Area of Influence.
        </li>
        <li>
            Ability to identify the marketing and business promotion needs of the Centre.
        </li>
        <li>

            Day to day operations of the Centre.
        </li>
        <li>
            All incoming and outgoing payments of the Centre.
        </li>
        <li>
            All Statutory requirements of the Centre.
        </li>
        <li>
            Selection and Placement of the Admin Team(2 persons) and a Centre Head.
        </li>
        <li>
            To be able to make an initial investment of 23 lacs.
        </li>
    </ul>
</div>
