@{
    ViewBag.Title = "Welcome to Swarvandana";
    Layout = "~/Views/Shared/__Layout.cshtml";
}
 <!-- Sequence Modern Slider -->
<div id="da-slider" class="da-slider">

    <div class="da-slide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <i>CLEAN &amp; FRESH</i>
                        <br>
                        <i>RESPONSIVE</i>
                        <br>
                        <i>DESIGN</i>
                    </h2>
                    <p>
                        <i>Lorem ipsum dolor amet</i>
                        <br />
                        <i>veniam omnis</i>
                    </p>
                    <a href="#" class="btn btn-info btn-lg da-link">
                        Read more
                    </a>
                    <div class="da-img">
                        <img src="img/parallax-slider/images/2.png" alt="image01" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="da-slide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <i>RESPONSIVE VIDEO</i>
                        <br />
                        <i>SUPPORT AND</i>
                        <br />
                        <i>MANY MORE</i>
                    </h2>
                    <p>
                        <i>Lorem ipsum dolor amet</i>
                        <br />
                        <i>tempor incididunt ut</i>
                    </p>
                    <a href="#" class="btn btn-info btn-lg da-link">
                        Read more
                    </a>
                    <div class="da-img">
                        <img src="img/parallax-slider/images/3.png" alt="image01" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="da-slide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <i>USING BEST WEB</i>
                        </br>
                        <i>SOLUTIONS WITH</i>
                        </br>
                        <i>HTML5/CSS3</i>
                    </h2>
                    <p>
                        <i>Lorem ipsum dolor amet</i>
                        <br />
                        <i>tempor incididunt ut</i>
                        <br />
                        <i>veniam omnis </i>
                    </p>
                    <a href="#" class="btn btn-info btn-lg da-link">
                        Read more
                    </a>
                    <div class="da-img">
                        <img src="img/parallax-slider/images/1.png" alt="image01" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="da-arrows">
        <span class="da-arrows-prev">
        </span>
        <span class="da-arrows-next">
        </span>
    </nav>
</div>


<div class="container">
    <div class="row mar-b-50">
        <div class="col-md-12">
            <div class="text-center feature-head wow fadeInDown">
                <h1 class="">
                    welcome to Swar vandana
                </h1>

            </div>


            <div class="feature-box">
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="img/1.png" alt="" width="100" height="100">

                        </em>
                        <h4>
                            <b>Multipurpose Template</b>
                        </h4>
                    </div>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="img/2.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b>Well Documented</b>
                        </h4>
                    </div>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
                    <div class="feature-box-heading">
                        <em>
                            <img src="img/3.png" alt="" width="100" height="100">
                        </em>
                        <h4>
                            <b>Responsive Design</b>
                        </h4>
                    </div>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.
                    </p>
                </div>
            </div>

            <!--feature end-->
        </div>
    </div>
</div>

<!--container end-->
