@{
    ViewBag.Title = "Mall";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">

    <div class="heding2">INCREASING FOOTFALLS IN MALLS</div>
    <ul class="link">
        <li>
            WITH THE EVER INCREASING NUMBER OF MALLS  OPENING IN  DELHI & NCR, THEREIS TOUGH COMPETITION TO INCREASE  THE FOOTFALLS.
        </li>
        <li>
            THE  DEMOGRAPHICS OF EACH MALL IS DISTINCTLY DIFFERENT.
        </li>
        <li>
            SOME MALLS HAVE MORE YOUNG PEOPLE COMING, SOME HAVE FAMILIES WHEREAS OTHERS HAVE STUDENT CROWD ETC.
        </li>
        <li>
            SVAR VANDANA IS ABLE TO DESIGN PROGRAMS ON WEEKENDS SPECIFIC TO THEDEMOGRAPHICS OF THE MALL AND INCREASE THE FOOTFALLS.
        </li>

    </ul>

    <div class="heding2">SVAR VANDANA WAYS OF INCREASING FOOTFALLS</div>
    <ul class="link">
        <li>
            CONDUCT WORKSHOPS FOR VARIOUS ACTIVITIES
        </li>
        <li>
            DO THEME BASED MUSICAL EVENTS LIKE WOMEN’S DAY, INDEPENDENCE DAY, HOLI, MOTHER’S DAY ETC.
        </li>
        <li>
            CONDUCT TALENT SHOWS.
        </li>
        <li>
            CONDUCT SUMMER & WINTER CAMPS.
        </li>
        <li>
            FLASH MOBS.
        </li>
        <li>
            DO PROMOTIONAL EVENTS.
        </li>
    </ul>

</div>
