@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}


<div class="container_layout">

    <div class="heding2">Music Therapy: An Introduction</div>
    <ul class="link">
        <li>
            Music Therapy is the clinical and evidence-based use of music ntervention to accomplish individualized goals within a therapeutic relationship by a credentialed professional.
        </li>
        <li>
            Music Therapy is an established health profession in which music is used within a therapeutic relationship to address physical, emotional, cognitive, and social needs of individuals.
        </li>
        <li>
            After assessing the strengths and needs of each client, the treatment is provided including creating, singing, moving to, and/or listening to music.
            Through musical involvement in the therapeutic context, clients' abilities are strengthened and transferred to other areas of their lives
        </li>
        <li>
            Research in music therapy supports its effectiveness in many areas such as: overall physical rehabilitation and facilitating movement, increasing people's motivation to become engaged in their treatment, providing emotional support for clients and their families, and providing an outlet for expression of feelings.
        </li>

    </ul>

    <div class="heding2">Benefits of Music Therapy</div>
    <ul class="link">
        <li>
            Improving  cognitive functioning,  motor skills, emotional development, social skills, and quality of life,.
        </li>
        <li>
            Emotional healing, physical healing, social healing.
        </li>
        <li>
            Reduce a patient’s perception of pain.
        </li>
        <li>
            By calming patients, can positively affect heart rate, blood pressure, and vital signs.
        </li>
        <li>
            (When we enable people to focus on music that’s very meaningful to them they respond to treatment  much better.)
        </li>
        <li>
            Soothing anxiety and depression. (We can manipulate the auditory environment, which affects patients imagery, which affects their memories, which affects the associations, which affects the mood. All these things can be changed in a single moment and over time with music. It’s a continuous mechanism.)
        </li>
        <li>
            It’s really non-invasive, it’s non-threatening.”
        </li>
        <li>
            Helping patients—especially children—find a creative, social outlet also
            helps with feelings of anxiety and isolation. It helps with mood elevation, and stress reduction
        </li>
    </ul>

    <div class="heding2">Music Therapy-The Way Forward </div>
    <ul class="link">
        <li>
            Music therapy is becoming increasingly integrated
            into medical care, so much so that it is now used for ailments ranging from cancer and psychiatric illness to babies born prematurely.
        </li>
        <li>
            Music therapy will be increasingly used in modern medical hospitals, cancer centers, schools, alcohol and drug recovery programs, psychiatric hospitals, and correctional facilities
        </li>
    </ul>

</div>