@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding"></div>
    <div style=" font-size:16px; font-family:Arial, Helvetica, sans-serif;">
        <table width="100%" border="0">
            <tr>
                <td align="center">
                    <a target="_blank" href="http://www.amazon.in/Living-Life-Making-Mistakes-Refusing/dp/9352587723/ref=sr_1_1?ie=UTF8&qid=1459756015&sr=8-1&keywords=living+life+making+mistakes+refusing+to+grow+up" class="flipLightBox">
                        <img height="300" width="300" src="@Url.Content("~/content/images/500x500 S.jpg")" alt="Image 1" />
                    </a><br>
                    Living Life Making Mistakes Refusing to Grow. <br />
                    Author - Sanjay Sarda <br />
                    publishing year - 2016
                </td>


                <td align="center">
                    <a target="_blank" href="http://www.amazon.in/Your-Situations-Story-Sanjay-Sarda/dp/9352589106/ref=pd_sim_14_1?ie=UTF8&dpID=514Aj7jjndL&dpSrc=sims&preST=_AC_UL160_SR103%2C160_&refRID=0ZVJRF4ZFDTG2HAT6A8V" class="flipLightBox">
                        <img height="300" width="300" src="@Url.Content("~/content/images/TOI .jpg")" alt="Image 1" />
                    </a><br>

                    Your Situations My Story. <br />
                    Author - Sanjay Sarda <br />
                    publishing year - 2016
                </td>
               
            </tr>
            <tr><td colspan="3">&nbsp;</td>
           

        </table>

    </div>

</div>

