@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}



<div class="container_layout">
    <div class="heding2">SCHOOL TIE-UPS</div>

    <div class="heding2">ANNUAL CONTRACT WITH THE SCHOOL</div>
    <ul class="link">
        <li>
            Svar Vandana will do Music & Dance Classes in the School Premises.
        </li>
        <li>
            The School needs to provide a dedicated space in their Auditorium or allocate 2 or 3 Rooms so that classes for various disciplines can be held.
        </li>
        <li>
            Classes to be held for 2 hours and twice weekly.
        </li>
        <li>
            Classes open for any School Student.
        </li>
        <li>
            Fixed Fee will be charged by Svar Vandana for an Annual Contract with the School.
        </li>
        <li>
            The Students will pay the School directly – if required by the School.
        </li>
    </ul>

    <div class="heding2">Svar Vandana Branch in the School</div>
    <ul class="link">
        <li>
            Svar Vandana will do Music & Dance Classes in the School Premises.
        </li>
        <li>
            The School needs to provide a dedicated space by allocating 2 or 3 Rooms so that classes for various disciplines can be held.
        </li>
        <li>
            Classes to be held for 2 hours and twice weekly.
        </li>
        <li>
            Svar Vandana will directly enroll interested students.
        </li>
        <li>
            Fees will be charged by Svar Vandana  directly from the students.
        </li>
        <li>
            There will be a Revenue Sharing Model agreed mutually with the School.
        </li>
    </ul>

    <div class="heding2">REGULAR WORKSHOPS IN SCHOOL</div>
    <ul class="link">
        <li>
            Svar Vandana will conduct Music & Dance Workshops in the School.
        </li>
        <li>
            The Workshops are done on specific days as required by the School.
        </li>
        <li>
            The School leverages Svar Vandana to train their students/faculty.
        </li>
        <li>
            Svar Vandana leverages their Brand and does Enrolment for their Centres.
        </li>
        <li>
            There is no fees charged by School or Svar Vandana.
        </li>
        <li>
            Interested students enroll directly by going to Svar Vandana Academy.
        </li>
    </ul>


</div>