@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">OUR VISION AND MISSION</div>

    <ul class="link">
        <li>
            Present environment- Overall decaying of Indian values, rampart corruption, crime and aggression ,dearth of role models, tough academics, peer pressure, nuclear families with working parents, ruthless competition, stressful work environment, demanding schedules and challenges of living in a metro.
        </li>
        <li>
            Effect on our minds- Our generation is confused and lost and vulnerable to many stress and lifestyle related problems.
        </li>
        <li>
            Our Belief- Music & Dance is the one solace that they can rely upon and which will give them inner strength, self discipline and a sense of achievement, creativity and positivity.
        </li>
        <li>
            Our Mission – To provide Music Academies to the young generation and also their parents and grand parents to experience the rich tradition of Music & Dance where by the exposure to the rich heritage of India they can give expression to their latent talent and creativity.
        </li>
        <li>
            Our Vision- Our Music Academies will become Happiness Centers for children, youngsters, stressed out executives, homemakers and senior citizens.
        </li>
        <li>
            Our Plan – For a wider reach in the minimum possible time, we plan to open and operate Multiple Centers  for which we are selecting interested Franchise Partners. We also Plan to reach out to Corporates and offer them a unique Employee Engagement, Employee Retention Tool.

        </li>
        </ul>
</div>
